
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #1977cc;
  text-decoration: none;
}

a:hover {
  color: #3291e6;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

#loader{
  height:100%;
  width:100%;
}

.movie {
	color: #fff;
	margin-left: auto;
	margin-right: auto;
	resize: none;
}

.movie-content {
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
}

.movie-content > div {
    margin:20px;
}

.btn-block{
	width: 15%;
	text-align: center;
	margin-left: -15px;
	color: #e4e0e0;
}

#content {
	
	background-color: #181818;
	font-family: 'Noto Sans JP', sans-serif;
}

#details {
	margin-left: 50px;
}

.body-content {
	position: relative;
  	min-height: 100%;
}

.footer {
	color: #e4e0e0;
	background-color: #e50914d1;
	text-align:center;
	position: fixed;
	bottom: 0;
 	width: 100%;
}

.social-icons {
	margin-left: 15px;
}



.github-corner:hover .octo-arm {
  	animation: octocat-wave 560ms ease-in-out;
}

.fa-arrow-up {
	font-size: 1.5em;
	color: #ffffff;
    background: #e50914;
    padding: 10px;
	border-radius: 50%;
	float: right;
    bottom: 25px;
    position: relative;
}

.fa-arrow-up:hover {
	cursor: pointer;
}

.app-title:hover {
	cursor: pointer;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0)
  }

  20%,
  60% {
    transform: rotate(-25deg)
  }

  40%,
  80% {
    transform: rotate(10deg)
  }
}

#autoComplete {
  background-position: 98% ;
}

#name {
	color: white;
	padding: 1px;
}


@media only screen and (max-width: 650px) {
    #mcontent {
      display: block;
    }
    .poster-lg {
      display: none;
    }
    #details {
		margin-left: 30px;
	}
    #loader {
		display: none;
		position: fixed;
		z-index: 100;
		left: 0;
		top:0;
		width: 100%;
		height: 100%;
		background-image: url("../static/loader.gif");
		background-size: 100%;
		background-color: rgba(255, 255, 255, 1);
		background-repeat: no-repeat;
		-webkit-transition: background-image 0.2s ease-in-out;
		transition: background-image 0.2s ease-in-out;
	}

	#loader-text {
		vertical-align: middle;
		color:white;
	}

	#autoComplete {
	  background-position: 97% ;
	}
	
	svg[data-toggle=tooltip] {
		width: 50px;
		height: 50px;
	}

	.fa-arrow-up{
		font-size: 1em;
		color: #ffffff;
		background: #e50914;
		padding: 10px;
		border-radius: 50%;
		float: right;
		bottom: 10px;
		position: relative;
	}
}

@media only screen and (max-width: 991px) {
	.modal-body{
		display: block;
	}
	.profile-pic {
		margin-left: auto;
		margin-right: auto;
		display: block;
		margin-bottom: 20px;
	}
}
@media only screen and (min-width: 992px) {
	.modal-body {
		display: flex;
	}
}

@media only screen and (min-width: 651px) {
  .poster-sm {
    display: none;
   }

	#mcontent {
		display: flex;
		flex-wrap: nowrap;
	}

	#loader {
		display: none;
		position: fixed;
		z-index: 100;
		left: 0;
		top:0;
		width: 100%;
		height: 100%;
		background-image: url("../static/loader.gif");
		background-size: 50%;
		background-position: 50% 50%;
		background-color: rgba(255, 255, 255, 1);
		background-repeat: no-repeat;
		-webkit-transition: background-image 0.1s ease-in-out;
		transition: background-image 0.1s ease-in-out;
	}

	#loader-text {
		vertical-align: middle;
		color:white;
	}

}

.poster{
    -webkit-box-shadow: 0px 1px 15px 4px rgba(250,250,250,1);
    -moz-box-shadow: 0px 1px 15px 4px rgba(250,250,250,1);
    box-shadow: 0px 1px 15px 4px rgba(250,250,250,1);
}

.card:hover {
	cursor: pointer;
}

.castcard:hover {
    cursor: pointer;
}

.cast-img {
	filter: brightness(100%);
	-moz-transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
	transition: all 0.75s ease;
}


.cast-img:hover {
	filter: brightness(50%);
	-moz-transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
    transition: all 0.75s ease;
}

.fig {
	display: flex;
	align-items: center;
	justify-content: center;
	backdrop-filter: brightness(50%);
	position: absolute;
	bottom: 0px;
	top: 0px;
	right: 0px;
	left: 0px;
	opacity: 0;
	-moz-transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
    transition: all 0.75s ease;
}

.fig:hover {
	opacity: 1;
	backdrop-filter:br;
	-moz-transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
    transition: all 0.75s ease;
}

.card-btn {
	border-radius: 20px;
}

.imghvr {
	position: relative;
}

.table td {
    border-color: white;
    border-style:solid; 
    border-width:1px;
}

.fail {
	display: none;
	color: white;
}

/* Header Style */
header {
  position: absolute;
  z-index: 99999;
  width: 100%;
  height: 67px;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
header .navbar {
  padding: 12px 0px;
}
#header.header-scrolled .navbar {
  padding: 12px 0px;
}
#header.header-scrolled {
  top: 0;
  position: fixed;
  background-color: #fff!important;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
}
#header.header-scrolled .navbar-brand h2 {
  color: #121212!important;
}
#header.header-scrolled .navbar-nav a.nav-link {
  color: #1e1e1e!important;
}
#header.header-scrolled .navbar-nav .nav-link:hover,
#header.header-scrolled .navbar-nav .active>.nav-link,
#header.header-scrolled .navbar-nav .nav-link.active,
#header.header-scrolled .navbar-nav .nav-link.show,
#header.header-scrolled .navbar-nav .show>.nav-link {
  color: #f33f3f!important;
}
.navbar .navbar-brand {
  float:  left;
  margin-top: 5px;
  outline: none;
}
.navbar .navbar-brand h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}
.navbar .navbar-brand h2 em {
  font-style: normal;
  color: #f33f3f;
}
#navbarResponsive {
  z-index: 999;
}
.navbar-collapse {
  text-align: center;
}
.navbar .navbar-nav .nav-item {
  margin: 0px 15px;
}
.navbar .navbar-nav a.nav-link {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #fff;
  transition: all 0.5s;
  margin-top: 5px;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .active>.nav-link,
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link.show,
.navbar .navbar-nav .show>.nav-link {
  color: #fff;
  padding-bottom: 17px;
  border-bottom: 3px solid #f33f3f;
}
.navbar .navbar-toggler-icon {
  background-image: none;
}
.navbar .navbar-toggler {
  border-color: #fff;
  background-color: #fff; 
  height: 36px;
  outline: none;
  border-radius: 0px;
  position: absolute;
  right: 30px;
  top: 20px;
}
.navbar .navbar-toggler-icon:after {
  content: '\f0c9';
  color: #f33f3f;
  font-size: 18px;
  line-height: 26px;
  font-family: 'FontAwesome';
}

/* Banner Style */
.banner {
  position: relative;
  text-align: center;
  
}

.banner-item-01, .banner-item-03, .banner-item-04{
  padding: 200px 0px;
  background-image: url("../static/img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.banner-item-02 {
  padding-top:60px;
  padding-bottom:30px;
  background-image: url("../static/poster.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.owl-banner .owl-dots .owl-dot {
  border-radius: 3px;
}
.owl-banner .owl-dots {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
}
.owl-banner .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: #fff;
    opacity: 0.5;
}
.owl-banner .owl-dots .owl-dot:focus {
    outline: none
}
.owl-banner .owl-dots .owl-dot.active {
    background-color: #fff;
    opacity: 1;
}


.banner .text-content h2 {
  font-weight: 700;
  font-family: 'Source Sans Pro', Arial, sans-serif; 
  color:white; 
  margin-bottom:0px;
  font-size: 3em;
  padding-left:5%;
  margin-top: 80px;
  line-height: 1;
  transform: translateY(-50%);
  text-align: left;
  width: 100%;
}

.banner .text-content h5 {
  font-weight: 550;
  font-family: 'Source Sans Pro', Arial, sans-serif; 
  color:white; 
  font-size: 2em;
  line-height: 0.9;
  margin-top:0px;
  padding-left:5%;
  transform: translateY(-50%);
  text-align: left;
  width: 100%;
}
 .text-content1 {
  position: absolute;
  top: 50%;
  padding-top: 120px;
  padding-left:8%;
  transform: translateY(-50%);
  text-align: left;
  width: 100%;
}
.rec-btn {
  margin-left: 15px;
  background: #cc1100;
  color: #fff;
  border-radius: 50px;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 16px;
  display: inline-block;
}

.rec-btn:hover {
  background: #166ab5;
  color: #fff;
}


.text-content1 h2 {
  color: #fff;
  font-size: 42px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 15px;
}
.text-content1 h4 {
  color: red;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 15px;
}

.services {
  padding: 60px 0;
  overflow: hidden;
}



.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 15px;
  padding-bottom: 20px;
  position: relative;
  color: #2c4964;
}

.section-title h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #1977cc;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

.about-images video{
  
  padding: 0.25rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(222, 226, 230);
  border-radius: 0.25rem;
  max-width: 100%;
}

#about p{
    color: #666666;
    font-size: 15px;
    font-family: 'Quattrocento Sans', sans-serif;
    line-height: 1.80857;
}

#about h2{
  text-transform:uppercase;
  font-weight:700;
  font-size: 38px;
  color:black;
}

.about-images {
    text-align: center;
    position: relative;
}
.about-images img {
  border:10px inset;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
  max-width: 100%;
}


.latest-products .section-heading a {
  float: right;
  margin-top: -35px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  color: #f33f3f;
}

.flower{
    margin: auto;
    max-width: 580px;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
}
.movie-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.movie-list li {
    padding: 12px 24px;
    border-bottom: 1px solid #ddd;
}

.movie-list li:last-child {
    border-bottom:none;
}

.movie-list li:hover {
    background-color: #f8f9fa;
}
.flower-btn{
    content:"\f1f8"
    font-size: 12px;
    padding: 3px 5px;
    text-decoration: none;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid #555555;
    border-radius: 5px;
}
.imdb {
    font-size: 12px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    background: #F5C518;
    border-radius: 5px;
    padding: 3px 5px;
    margin:10px;
}

.latest-products .section-heading a {
  float: right;
  margin-top: -35px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  color: #f33f3f;
}

.product-item {
  border: 1px solid #eee;
  margin-bottom: 30px;
}

.product-item .down-content {
  padding: 30px;
  position: relative;
}

.product-item img {
  width: 100%;
  overflow: hidden;
}

.product-item .down-content h4 {
  font-size: 17px;
  color: #1a6692;
  margin-bottom: 20px;
}

.product-item .down-content h6 {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 18px;
  color: #121212;
}

.product-item .down-content p {
  margin-bottom: 20px;
}

.product-item .down-content ul li {
  display: inline-block;
}

.product-item .down-content ul li i {
  color: #f33f3f;
  font-size: 14px;
}

.product-item .down-content span {
  position: absolute;
  right: 30px;
  bottom: 30px;
  font-size: 13px;
  color: #f33f3f;
  font-weight: 500;
}

/* Footer */

footer {
  text-align: center;
  background-color:#f8f9fa;
}

footer .inner-content {
  padding: 20px 0px;
  margin-top:15px;
}

footer .inner-content p {
  text-transform: uppercase;
}

footer .inner-content p a {
  color: #f33f3f;
  margin-left: 3px;
}




